*{
  margin: 0;
  padding: 0;
  & ::-webkit-scrollbar {
    /* display: none; */
    width: 10px;
  };
  & ::-webkit-scrollbar-thumb{
    background-color: darkgrey;
    border-radius: 10px;
  }

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.navbar{
  width: 100%;
  height: 7%;
  margin: 0px;
  background-color:#a576f9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  /* background-color: #4d6160; */
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100%;
}

.home{
  height: 100vh;
}

.home-dark{
  background-color: #4d6160;
  transition: background-color 0.5s;
}

.home-light{
  background-color: whitesmoke;
  transition: background-color 0.5s;
}

.product-content{
  display: flex;
  flex-direction: column;
}

.products{
  /* background-color: red; */
  /* min-height:85%; */
  /* padding: 2%; */
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.loginbtn{
  padding: 5px 8px;
  border: 2px solid black;
  margin-right: 20px;
  border-radius: 7px;
}

.tile{
  width: 23%;
  cursor: pointer;
  min-height: 40vh;
  margin: 15px 3px;
  padding: 5px;
  border-radius: 20px;
  transition: all 0.8s;
}

p{
  padding: 2px 0px;
}

.titleText{
  margin-left: 20px;
}

.p-dark, .titleText-dark{
  color: rgb(198, 196, 196);
}
.p-light, .titleText-white{
  color:grey;
}

.tile-dark:hover{
  background-color: #6f8987;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tile-light:hover{
  background-color: rgb(250, 250, 250);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card{
  width: 100%;
  height: 25vh;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  max-width: 80%;
  max-height: 200px;
  border-radius: 10px;
}

.cardTitle{
  width: 100%;
  height: 10%;
  padding: 10px 5px;
}


.stars{
  margin-left: 15px;
}

.content{
  padding: 5px 20px;
}

.searchProducts{
  width: 70%;
  height: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  transition: all 0.5s;
}

.searchProducts:focus{
  width: 100%;
  height: 30px;
  outline: none;
  border-radius: 10px;
}

.categories{
  align-items: center;
  margin-left: 25px;
}

.ChevronDownCircle{
  color: rgb(69, 69, 69);
}

.chip{
  background-color: silver;
  border-radius: 10px;
  padding: 5px;
  margin: 0px 5px;
  display: flex;
}

.productView{
  width: 100%;
  height: 100%;
}
.productHead{
  height: 10%;
  padding-left: 25px;
  display: flex;
  align-items: center;
}


.productContent{
  width: 100%;
  display: flex;
  z-index: 1;
  justify-content: space-evenly;
  height: 90%;
}

.productImage{
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.allPreviewImages{
  width: 100%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.imagePreview{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.currentImage{
  max-width: 100%;
  border-radius: 10px;
  max-height: 100%;
}

.previewImages{
  border-radius: 10px;
  max-width: 30%;
  max-height: 100px;
  margin: 5px 10px;
  cursor: pointer;
}

.prdDetails-Purchase{
  height: 100%;
  width:48%;
}

.productDetails{
  height: 80%;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productDesc{
  padding: 10px;
} 

.rating{
  padding: 10px;
  display: flex;
  align-items: center;
}

.stock{
  padding: 10px;
  display: flex;
  align-items: center;
  color: rgb(10, 167, 78);
  color: rgb(251, 34, 34);
  font-weight: bold;
}


.discountPercentage{
  margin-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.dPer-dark{
  color:rgb(156, 154, 154);
}

.dPer-light{
  color: grey;
}

.purchaseSection{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.purchase{
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  justify-content: center;

}

.prdTitle{
  width: 80%;
}

.wishlist{
  width: 20%;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.wishlisticon{
  width: 40px;
  height: 20px;
  transition: width 0.5s;
}

.hrt:hover{
  fill:red;
}

.buyNow{
  min-width: 120px;
  padding: 0px 5px;
  height: 40%;
  background-color: #65B741;
  border-radius: 15px ;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  cursor: pointer;
}

.buyNow:hover, .addCart:hover{
  opacity: 0.8;
}

.addCart{
  cursor: pointer;
  min-width: 120px;
  padding: 0px 5px;
  margin: 20px;
  height: 40%;
  background-color: #FFB534;
  border-radius: 15px ;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loader-dark{
  background-color: #4d6160;
}

.loader-light{
  background-color: whitesmoke;
}

.name{
  cursor: pointer;
}

.login-Card{
  width: 20em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.reg-Card{
  width: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.category-tiles{
  display: flex;
  align-items: center;
}

.categoryContainer{
  overflow-x: scroll;
  &::-webkit-scrollbar{
    display: none;
  }
  display: flex;
  scroll-behavior: smooth;
}

.category-tile{
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-transform: capitalize;
  transition: 0.8s all;
  &:hover{
    cursor: pointer;
  }
}

.cTile-dark{
  color: whitesmoke;
}

.sTile{
  color: #925dec;
  border: 2px solid #925dec;
}

.switch-log-reg{
  padding:10px;
  width:100%;
  display:flex;
  justify-content:flex-end;
  color: rgb(54, 54, 248);
  font-size:smaller;
}

.switch-log-reg:hover{
  cursor: pointer;
}

.cartList{
  width: 100%;
  height: 100%;
  display: flex;
}

.cartList_products{
  width: 85%;
}

.cartList_priceBar{
  width: 15%;
}